n8n/workflow_approval_callback.json
{
  "name": "gdev-agent — Approval Callback",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "gdev-approval-trigger",
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Parse a Telegram callback_query into { pending_id, approved, reviewer }.\n// callback_data format: \"approve:{pending_id}\" or \"reject:{pending_id}\"\nconst cq = $input.item.json.callback_query;\n\nif (!cq || !cq.data) {\n  throw new Error('No callback_query.data in payload');\n}\n\nconst parts = cq.data.split(':');\nif (parts.length !== 2) {\n  throw new Error(`Malformed callback_data: ${cq.data}`);\n}\n\nconst [decision, pending_id] = parts;\n\nif (!['approve', 'reject'].includes(decision)) {\n  throw new Error(`Unknown decision: ${decision}`);\n}\n\nif (pending_id.length !== 32) {\n  throw new Error(`Invalid pending_id length: ${pending_id.length}`);\n}\n\nreturn [{\n  json: {\n    callback_query_id: cq.id,\n    pending_id:        pending_id,\n    approved:          decision === 'approve',\n    reviewer:          String(cq.from.id),\n    reviewer_username: cq.from.username || null\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $json.callback_query_id }}\",\n  \"text\": \"Processing...\"\n}",
        "options": {
          "timeout": 8000
        },
        "onError": "continueRegularOutput"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      },
      "notes": "MUST run before POST /approve — Telegram requires answerCallbackQuery within 30 s of button click"
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "POST /approve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_BASE_URL }}/approve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pending_id\": \"{{ $('Parse Callback').item.json.pending_id }}\",\n  \"approved\": {{ $('Parse Callback').item.json.approved }},\n  \"reviewer\": \"{{ $('Parse Callback').item.json.reviewer }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "onError": "continueErrorOutput"
      },
      "notes": "HTTP 404 = token expired or already consumed — treat as terminal, do NOT retry on 404. Retry once on 5xx."
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Status == approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "condition-status-approved",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Notify Approver — Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 180],
      "parameters": {
        "chatId": "={{ $('Parse Callback').item.json.reviewer }}",
        "text": "=✅ Action approved and executed.\\n\\nTicket: {{ $json.result?.ticket?.ticket_id || 'N/A' }}\\nPending ID: {{ $('Parse Callback').item.json.pending_id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Sheets — Update to Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 180],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status":      "approved",
            "approved_by": "={{ $('Parse Callback').item.json.reviewer }}",
            "ticket_id":   "={{ $('POST /approve').item.json.result?.ticket?.ticket_id || '' }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "pending_id",
              "value":  "={{ $('Parse Callback').item.json.pending_id }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Audit"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Notify Approver — Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 420],
      "parameters": {
        "chatId": "={{ $('Parse Callback').item.json.reviewer }}",
        "text": "=❌ Action rejected. No ticket created.\\n\\nPending ID: {{ $('Parse Callback').item.json.pending_id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Sheets — Update to Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 420],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "audit_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status":      "rejected",
            "approved_by": "={{ $('Parse Callback').item.json.reviewer }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "pending_id",
              "value":  "={{ $('Parse Callback').item.json.pending_id }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Audit"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Handle 404 — Token Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 560],
      "parameters": {
        "jsCode": "// HTTP 404 from /approve = token expired or already consumed.\n// This is a terminal condition — do NOT retry.\n// Notify the approver and stop.\nconst error = $input.item.json;\nreturn [{\n  json: {\n    reviewer: $('Parse Callback').item.json.reviewer,\n    callback_query_id: $('Parse Callback').item.json.callback_query_id,\n    pending_id: $('Parse Callback').item.json.pending_id,\n    http_status: error.statusCode || 'unknown',\n    is_expired: error.statusCode === 404\n  }\n}];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Notify Approver — Expired",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 560],
      "parameters": {
        "chatId": "={{ $json.reviewer }}",
        "text": "=⚠ This approval has expired or was already processed.\\n\\nPending ID: {{ $json.pending_id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          { "node": "Parse Callback", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          { "node": "Answer Callback Query", "type": "main", "index": 0 }
        ]
      ]
    },
    "Answer Callback Query": {
      "main": [
        [
          { "node": "POST /approve", "type": "main", "index": 0 }
        ]
      ]
    },
    "POST /approve": {
      "main": [
        [
          { "node": "Status == approved?", "type": "main", "index": 0 }
        ],
        [
          { "node": "Handle 404 — Token Expired", "type": "main", "index": 0 }
        ]
      ]
    },
    "Status == approved?": {
      "main": [
        [
          { "node": "Notify Approver — Approved", "type": "main", "index": 0 }
        ],
        [
          { "node": "Notify Approver — Rejected", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Approver — Approved": {
      "main": [
        [
          { "node": "Sheets — Update to Approved", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Approver — Rejected": {
      "main": [
        [
          { "node": "Sheets — Update to Rejected", "type": "main", "index": 0 }
        ]
      ]
    },
    "Handle 404 — Token Expired": {
      "main": [
        [
          { "node": "Notify Approver — Expired", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gdev-approval-001",
  "tags": [
    { "id": "gdev-agent", "name": "gdev-agent" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "REPLACE_WITH_YOUR_N8N_INSTANCE_ID"
  }
}
